{:source-paths ["src" "test"]
;; Use deps.edn instead
;; :dependencies []

:builds
{:dev {:target :node-library
       :exports {:activate git-puns.core/activate
                 :deactivate git-puns.core/deactivate}
       :output-dir "lib/js"
       :output-to "lib/main.js"
       :devtools {:before-load-async git-puns.core/before
                  :after-load git-puns.core/after}}}}
