{:source-paths ["src" "test"]

; Put your libs here, or create a project with lein.
; I personally use lein mostly because I already have
; a "profiles" dependencies ready
:dependencies []

:builds
{:dev {:target :node-library
       :exports {:activate git-puns.core/activate
                 :deactivate git-puns.core/deactivate}

    :output-dir "lib/js"
    :output-to "lib/main.js"
    :devtools {:before-load-async git-puns.core/before}}}}
